/* Layout */

body {
  font-family: monospace;
  font-size: 15px;
}

header {
  position: relative:
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

.title {
  display: inline-block;
}

/* Score */

.scores {
  font-weight: 400;
  margin-left: 20px;
  display: inline-block;
}

.score kbd {
  padding: 0 5px;
  border-radius: 2px;
  color: #FFF;
  background: #000;
}

.score-p1 kbd { background: #0c0; }
.score-p2 kbd { background: #c00; }

/* Board */

.board {
  border-spacing: 0;
  border: 1px solid #ABD;
  box-shadow: 0 3px 10px #AAA;
}

.board-header {
  background: #E5EBF8;
}

.board-body {
  background: #ABD;
  border: 1px solid #ACF;
}

/* Chip */

.chip {
  background: #fff;
  margin: 10px;
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 100%;
}

.play-chip {
}

.play-chip:focus {
  outline: none;
}

[data-player="p1"] .play-chip:hover,
.chip[data-player="p1"] {
  background: #0C0;
}

[data-player="p2"] .play-chip:hover,
.chip[data-player="p2"] {
  background: #C00;
}
